@import '../../assets/styles/colors.scss';

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: $light-gray2;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: $light-gray;
}

.App {
  width: 100%;
}