@import '../../assets/styles/colors.scss';

.production-details-subpage-wrapper {
  display: flex;
  min-height: 100vh;

  h2 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 18px;
  }

  .bg-image {
    position: absolute;
    width: 100%;
    height: 300px;
    background: $dark-gray;
    z-index: 0;
  }

  .content-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    width: 100%;
    min-height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 90px 20px 50px 20px;
    z-index: 1;

    .title-wrapper {
      display: flex;
      align-items: flex-end;
      min-height: 210px;
      width: 100%;
      font-size: 40px;
      color: $light-gray;
      padding-left: 250px;
      line-height: 48px;
      padding-bottom: 10px;
    }

    .sub-content-wrapper {
      display: flex;
      width: 100%;

      .left-wrapper {
        display: flex;
        flex-flow: column;
        min-width: 70%;
        max-width: 70%;

        .details {

          display: flex;
          height: 195px;

          .poster {
            position: relative;
            top: -170px;
            height: 340px;
            width: 230px;
            overflow: hidden;
            flex-shrink: 0;
            border-radius: 5px;
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);

            img {
              height: 340px;
              min-width: 230px;
              max-width: 230px;
              object-fit: cover;
              transition: transform .4s;

              &:hover {
                transform: scale(1.03);
                overflow: hidden;
                cursor: pointer;
              }
            }
          }

          .info {
            padding: 20px;

            .category {
              color: $purple;
            }
          }

        }

        .production-description {
          padding: 0px 7px 15px 0px;
        }
        
        a {
          color: $dark-gray;
          transition: .4s;

          &:hover {
            color: $purple;
          }
        }

        .cast {
          display: flex;
          flex-flow: wrap;
          padding-bottom: 5px;

          a {
            width: 33.3%;
            padding-right: 7px;
            text-decoration: none;
            color: $dark-gray;
          }

        }
      }

      .right-wrapper {
        padding-top: 15px;
        margin-left: 40px;

        .title {
          display: flex;
          flex-flow: wrap;
          font-size: 25px;
        }
      }

    }
  }
}

@media (max-width: "991px") {}