@import '../../assets/styles/colors.scss';

.not-found-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 0px 15px 0px 15px;
  text-align: center;
  background-color: $light-gray;

  p {
    font-size: 50px;
    color: $dark-gray;
    margin-bottom: 30px;
  }

  @media(max-width: 991px) {
    p {
      font-size: 26px;
    }
  }
}