@import '../../assets/styles/colors.scss';

.movies-subpage-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  width: 100%;
  min-height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 50px 50px 50px;

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }
  
  .title-underline {
    height: 1px;
    width: 100%;
    background: $gradient;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
  }

  .list-wrapper {
    display: flex;
    flex-flow: column;
    flex-grow: 6;
  }

  .filter-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    font-size: 30px;
    margin-left: 50px;

    .rating-wrapper {
      
    }

    .platform-wrapper {

    }

    .genres-wrapper {

    }

    .length-wrapper {

    }
  
  }
  
}

