@import '../../assets/styles/colors.scss';

.navbar-container {
  width: 100%;
  background-color: $dark-gray;
  position: fixed;
  top: 0;
  left: 0;
}

nav.navbar-dark {
  background-color: $dark-gray;
  max-width: 1333px;
  margin: 0 auto;
  white-space: nowrap;

  .navbar-toggler {
    border: none;
    padding-bottom: 8px;
    padding-right: 0px;

    &:focus {
      outline: none;
    }
  }
}

.navbar-underline {
  height: 2px;
  width: 100%;
  background: $gradient;
}

.logo-text {
  font-size: 26px;
  margin: 0px 0px 0px 10px;
  text-align: center;
}

.light-gray {
  color: $light-gray;
}

.orange {
  color: $purple;
}

.links {
  padding-right: 16px;
}

.search-bar {
  width: 100%;
  border: 1px solid $dark-purple;
  border-radius: 5px;

  &--desktop {
    margin: 0px 35px 0px 20px;
  }
}

.search-input {
  background-color: $light-gray;
  border: none;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  height: 32px;
  padding-left: 7px;
  width: calc(100% - 40px);
}

.btn {
  border: none;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
  padding: 0px 10px 10px 10px;
  height: 32px;
  width: 40px;
  color: $dark-purple;
  background-color: $light-gray;
}

.user-button-mobile {
  padding-bottom: 6px;
}
