@import '../../../assets/styles/colors.scss';

.rate-button-wrapper {
  display: flex;
  width: min-content;
  cursor: pointer;

  .star {
    color: $gray2;
    transition: .2s;

    &--checked {
      color: $purple;
    }
  }
}

.date-of-rate {
  margin-top: 5px;
  padding-left: 2px;
  color: $gray2;
  font-size: 13px;
}