@import '../../assets/styles/colors.scss';

.login-subpage-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 90px 20px 130px 20px;

  a {
    color: $orange;
  }

  .title-underline {
    height: 1px;
    width: 100%;
    background: $gradient;
    margin-bottom: 10px;
  }

  .registration-success {
    width: 100%;
    color: $green;
    background: $light-green;
    border: 1px solid $green;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px 5px 5px 8px;
    margin-bottom: 10px;
  }

  .form-element {
    display: flex;
    flex-flow: column;
    padding-bottom: 11px;
    font-size: 15px;

    label {
      margin-bottom: 3px;
    }

    input {
      background-color: $light-gray;
      border: 1px solid $dark-purple;
      border-radius: 5px;
      outline: none;
      height: 32px;
      padding-left: 7px;
      width: 100%;
    }
  }

  .btn-primary {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
  }

  .account-question {
    margin-top: 14px;
  }
}

@media (max-width: "991px") {

  .login-subpage-wrapper {
    padding-top: 120px;
    justify-content: flex-start;
  }
}