@import '../../assets/styles/colors.scss';

.btn-primary {
  border: none;
  border-radius: 5px;
  background: $gradient-light;
  padding: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);

  a {
    color: $light-gray;
  }
}