$light-gray: #e6e6e6;
$light-gray2: #e2e1e1;
$light-gray3: #cfcfcf;
$gray: #b6b6b6;
$gray2: #797979;
$gray3:#5e5c5c;
$dark-gray: #1d1d1d;
$orange: #e1554e;
$purple: #c94564;
$dark-purple: #550a78;
$light-red: #ffb8b8;
$red: #b30e0e;
$light-green: #c4f8c1;
$green: #117a0d;
$gradient-light: linear-gradient(to right, $orange , $purple);
$gradient: linear-gradient(to right, $orange , $dark-purple);