$light-gray: #e6e6e6;
$light-gray2: #cfcfcf;
$gray: #b6b6b6;
$dark-gray: #1d1d1d;
$orange: #e1554e;
$purple: #c94564;
$dark-purple: #550a78;
$gradient: linear-gradient(to right, $orange , $dark-purple);