@import '../../../../assets/styles/colors.scss';

.rate-button-wrapper {
  display: flex;
  width: min-content;

  .star {
    color: $gray2;
    transition: .2s;

    &--checked {
      color: $purple;
    }
  }
}